@use './partials/global' as *;


/* Hero section */
.hero {
    background-color: #FFF0ED;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    &__h1 {
        font-size: 4em;
        color: #393939;
        font-weight: 300;
        margin: 0 auto;
        /* padding-top:50px; */
        /* display:inline-block;
        position: relative;
        bottom: 400px; */
    }

    &__p {
        font-size: 1.1em;
        font-weight: 400;
        /* display: inline-block; */
        width:400px;
        margin-bottom: 40px;
        /* position: relative;
        bottom: 35vh;
        left: -23.5vw; */
    }

    &__button {
        background-color: #5BACC3;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    padding: 15px 30px;
    /* position: relative;
    bottom: 20vh;
    left: -51vw; */
    position: relative;
    }
}


.button-border {
    position: absolute;
    width: 98%;
    height:98%;
    top: -6px;
    left: -5px;
    border: 2px solid #393939;
}




/*our products section */

.our-products {
    background-color: #F7F7F7;
    padding-bottom: 8vh;

    &__h2 {
        font-size: 4em;
        color: #393939;
        font-weight: 300;
        text-align: center;
        margin-top: 0;
        padding-top:8vh;
    }
    &__button {
        display: block;
        width:180px;
        background-color: #5BACC3;
        color: white;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        padding: 15px 30px;
        margin: 0 auto;
        position: relative;
        &__section {
            margin: 50px auto;
        }
        &__link {
            text-decoration: none;
        }
    }
}


.cards-section {
    display:flex;
    justify-content: center;

}

.card {
    /* display: inline-block; */
    /* width: 330px; */
    /* height: 440px; */
    width: 22vw;
    height: 55vh;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
    margin: auto 40px;
    /* position: relative; */
    /* left: 10%; */ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__image {
        /* height: 280px; */
        height: 55%;
        /* position: relative;
        left: 27%;
        top:2%; */
        align-self: center;
        margin-top: 20px;
        
        &--background-removed {
            background-color: #F7F7F7;
        background-blend-mode: multiply;
        }
    }
    &__text-area {
        background: #FFF0ED;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 40px 20px;
        row-gap: 20px;
    }
    &__h3 {
        font-size: 2em;
        font-weight: 300;
        color: #393939;
        /* position: relative;
        left: 20%; */
        margin:0;

        &--padding {
            padding-right: 60px;
        }
    }

    &__price {
        font-size: 2em;
        font-weight: 600;
        color:#5BACC3;
        /* position: relative;
        left: 33%; */
        margin:0;
    }

    &__quantity {
        color:#909090;
        font-weight: 300;
        margin:0;
    }
}



/* We're Different Section */

.different {
    padding-top:100px;
    display:flex;
    justify-content: space-around;
    &__h1 {
        font-size: 4em;
        color: #393939;
        font-weight: 300;
        margin: 0 auto;
    }
    &__p {
        font-size: 1.1em;
        font-weight: 400;
        width:400px;
        margin-bottom: 40px;
    }
    &__logos {
        display: flex;
        justify-content: space-between;
        
        &__picture {
            width: 50px;
        }
    }
    &__button {
        width:15vw;
        background-color: #5BACC3;
        color: white;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        padding: 15px 0px;
        margin: 0 auto;
        position: relative;
        &__section {
            margin: 50px auto;
        }
        &__link {
            text-decoration: none;
        }
    }
    &--right {
        width: 400px;
        background-image: url(../assets/images/coldbrewbackground.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        justify-self: center;
        position: relative;
    }

    &__border {
        position: absolute;
        width:100%;
        height: 98%;
        border: 5px solid #5BACC3;
        top:-20px;
        left:-20px;
    }
    &__img {
        align-self:center;
    }
}

/* Discount section */

.discount {
    padding-top:200px;
    padding-bottom:200px;
    display: flex;
    justify-content: center;
}


.discount__box {
    width: 88%;
    background-color: #393939;
    /* margin: 200px 20px 200px 40px; */
    
    padding: 20px 0;
    /* text-align: center; */ 
    display: flex;
    justify-content: center;
}

.discount__p {
    color:white;
    font-size: 3.1em;
    margin: 20px 40px;
}


.discount__p>span {
    font-weight: 700;
}


/* Footer */


footer {
    background-color: #FFF0ED;
    display: flex;
    justify-content: space-evenly;
    position:relative;
    overflow: hidden;
}

.footer__logo {
    position:absolute;
    width:120px;
    opacity: 0.25;
}

.footer__logo--1 {
    left:-40px;
    top:25px
}


.footer__logo--2 {
    bottom: 25px;
    right: -40px;
}

footer>section{
    /* margin-left: 12vw; */
    margin-bottom: 50px;
}


.address {
    /* display: inline-block; */
    /* width: 200px; */
    width: 10%;
    /* position: relative; /*I had to add this in order level this section with the other two */
    /*top: -2vh; */
}



.footer__h3 {
    font-size: 2em;
    font-weight: 300;
    color: #393939;
    /* display: block; */
}

.bold {
    font-weight: 700;
}


.social {
    /* display: inline-block; */
    width: 200px;
}


.social__img {
    /* width: 50px; */
    width: 25%;
    margin-right: 5%;
}





