body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

.navbar {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2vh 0vw 2vh 2vw;
}
.navbar__a {
  align-self: center;
}
.navbar--left {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar__h3 {
  font-size: 60px;
  font-weight: 300;
  color: #393939;
  margin: 0;
}
.navbar__list {
  list-style-type: none;
  display: flex;
  justify-content: normal;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar__list__item {
  font-size: 1.5rem;
  font-weight: 400;
  color: #393939;
  margin: auto 2vw;
  text-decoration: none;
}
.navbar__list__item__link {
  text-decoration: none;
  color: #393939;
}
.navbar__list__item__link--blue {
  color: #5BACC3;
}

/* Hero section */
.hero {
  background-color: #FFF0ED;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.hero__h1 {
  margin: 0 auto;
  font-size: 4em;
  font-weight: 300;
  color: #393939;
}
.hero__p {
  font-size: 1.1em;
  font-weight: 400;
  color: #393939;
  width: 400px;
  margin-bottom: 40px;
}
.hero__button {
  background-color: #5BACC3;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  padding: 15px 30px;
  position: relative;
}

.button-border {
  position: absolute;
  width: 98%;
  height: 98%;
  top: -6px;
  left: -5px;
  border: 2px solid #393939;
}

/*our products section */
.our-products {
  background-color: #F7F7F7;
  padding-bottom: 8vh;
}
.our-products__h2 {
  font-size: 4em;
  font-weight: 300;
  color: #393939;
  text-align: center;
  margin-top: 0;
  padding-top: 8vh;
}
.our-products__button {
  background-color: #5BACC3;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  padding: 15px 30px;
  position: relative;
  margin: 0 auto;
  display: block;
}
.our-products__button__section {
  margin: 50px auto;
}
.our-products__button__link {
  text-decoration: none;
}

.cards-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card {
  width: 22vw;
  height: 55vh;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  margin: auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.card__image {
  height: 55%;
  align-self: center;
  margin-top: 20px;
}
.card__image--background-removed {
  mix-blend-mode: multiply;
  filter: contrast(1);
}
.card__text-area {
  background: #FFF0ED;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.card__h3 {
  font-size: 2em;
  font-weight: 300;
  color: #393939;
  margin: 0;
}
.card__h3--padding {
  padding-right: 60px;
}
.card__price {
  font-size: 2em;
  font-weight: 600;
  color: #5BACC3;
  margin: 0;
}
.card__quantity {
  font-size: 1em;
  font-weight: 300;
  color: #909090;
  margin: 0;
}

/* We're Different Section */
.different {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
.different__h1 {
  font-size: 4em;
  font-weight: 300;
  color: #393939;
  margin: 0 auto;
}
.different__p {
  font-size: 1.1em;
  font-weight: 400;
  color: #393939;
  width: 400px;
  margin-bottom: 40px;
}
.different__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.different__logos__picture {
  width: 50px;
}
.different__button {
  background-color: #5BACC3;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  padding: 15px 30px;
  position: relative;
  width: 15vw;
  margin: 0 auto;
}
.different__button__section {
  margin: 50px auto;
}
.different__button__link {
  text-decoration: none;
}
.different--right {
  width: 400px;
  background-image: url(../assets/images/coldbrewbackground.png);
  background-size: cover;
  background-position: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.different__border {
  position: absolute;
  width: 100%;
  height: 98%;
  top: -20px;
  left: -20px;
  border: 5px solid #5BACC3;
}
.different__img {
  align-self: center;
}

/* Discount section */
.discount {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.discount__box {
  width: 88%;
  background-color: #393939;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.discount__p {
  font-size: 3.1rem;
  font-weight: 300;
  color: white;
  margin: 20px 40px;
}

.discount__p > span {
  font-weight: 700;
}

/* Footer */
footer {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
}

.footer__logo {
  position: absolute;
  width: 120px;
  opacity: 0.25;
}

.footer__logo--1 {
  left: -40px;
  top: 25px;
}

.footer__logo--2 {
  bottom: 25px;
  right: -40px;
}

footer > section {
  margin-bottom: 50px;
}

.address {
  width: 10%;
}

.footer__h3 {
  font-size: 2em;
  font-weight: 300;
  color: #393939;
}

.bold {
  font-weight: 700;
}

.social {
  width: 200px;
}

.social__img {
  width: 25%;
  margin-right: 5%;
}/*# sourceMappingURL=landing.css.map */