@use './partials/global' as *;
@use './partials/variables' as *;
@use './mixins/mixins' as *;

/* Hero section */
.hero {
    background-color: $primary-color;
    padding-top: 50px;
    padding-bottom: 100px;
    @include flex;


    &__h1 {
        margin: 0 auto;
        @include font;
    }

    &__p {
        @include font($size: 1.1em, $weight:400);
        width:400px;
        margin-bottom: 40px;
    }

    &__button {
        @include button;
    }
    
}

.button-border {
    @include border;
    
}

.button-border:active{
    @include border($top:0,$left:0)
}

/*our products section */

.our-products {
    background-color: $secondary-color;
    padding-bottom: 8vh;

    &__h2 {
        @include font;
        text-align: center;
        margin-top: 0;
        padding-top:8vh;
    }
    &__button {
        @include button;
        margin: 0 auto;
        display: block;
        &__section {
            margin: 50px auto;
        }
        &__link {
            text-decoration: none;
        }
    }
}


.cards-section {
    @include flex($align: flex-start);
}

.card {
    // width: 22vw;
    width:320px; //had to apply px width instead of vw because of screen and positioning issues.
    height: 55vh;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);
    margin: auto 40px;
    @include flex($align: flex-start, $justify: space-between, $direction: column);
    &__image {
        height: 55%;
        align-self: center;
        margin-top: 20px;
        &--background-removed {
            mix-blend-mode: multiply;
            filter:contrast(1);
        }
    }
    &__text-area {
        background: $primary-color;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 40px 20px;
        @include flex($align: center, $justify: space-between, $wrap:wrap);
        row-gap: 20px;
    }
    &__h3 {
        @include font($size:2em);
        margin:0;
        &--padding {
            padding-right: 60px;
        }
    }

    &__price {
        @include font($size:2em, $weight:600, $color:$secondary-text);
        margin:0;
    }

    &__quantity {
        @include font($color: $card-text-color, $size:1em);
        margin:0;
    }
}

/* We're Different Section */

.different {
    padding-top:100px;
    @include flex($align:normal);
    &__h1 {
        @include font;
        margin: 0 auto;
    }
    &__p {
        @include font($size:1.1em, $weight:400);
        width:400px;
        margin-bottom: 40px;
    }
    &__logos {
        @include flex($justify:space-between);
        &__picture {
            width: 50px;
        }
    }
    &__button {
        @include button;
        width:15vw;
        margin: 0 auto;
        &__section {
            margin: 50px auto;
        }
        &__link {
            text-decoration: none;
        }
    }
    &--right {
        width: 400px;
        @include bg-img;
        justify-self: center;
        @include flex($align: flex-start, $justify: center);
        position: relative;
    }
    &__border {
        @include border($top:-20px,$left:-20px,$width:100%, $height:98%, $border: 5px solid $secondary-text)
    }
    &__img {
        align-self:center;
        transition: 2s;
        z-index:40;
        &:hover{
            animation: spin 2s infinite linear;
        }
    }
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Discount section */

.discount {
    padding-top:200px;
    padding-bottom:200px;
    @include flex($justify:center, $align:flex-start);
}

.discount__box {
    width: 88%;
    background-color: $primary-text;
    padding: 20px 0;
    @include flex($justify: center);
    animation: flash 2.5s infinite ease-in;
}

@keyframes flash {
    0% {
        background-color: $primary-text;
    }
    50% {
        background-color: $secondary-text;
    }
    100% {
        background-color: $primary-text;
    }

}

.discount__p {
    @include font($color:white, $size:3.1rem);
    margin: 20px 40px;
}

.discount__p>span {
    font-weight: 700;
}

/* Footer */

footer {
    background-color: $primary-color;
    @include flex($justify:space-evenly);
    position:relative;
    overflow: hidden;
}

.footer__logo {
    position:absolute;
    width:120px;
    opacity: 0.25;
}

.footer__logo--1 {
    left:-40px;
    top:25px
}


.footer__logo--2 {
    bottom: 25px;
    right: -40px;
}

footer>section{
    margin-bottom: 50px;
}


.address {
    width: 10%;
}



.footer__h3 {
    @include font($size:2em);
}

.bold {
    font-weight: 700;
}


.social {
    width: 200px;
}


.social__img {
    width: 25%;
    margin-right: 5%;
}





