@use './partials/global' as *;
@use './partials/variables' as *;
@use './mixins/mixins' as *;


/* background and grey menu box container */

.background {
    height: 75vh;
    width:100%;
    background-image: url(../assets/images/coffee-circle.jpg);
    background-position: center;
    background-size: cover;
    @include bg-img($url: url(../assets/images/coffee-circle.jpg));
    @include flex($justify:center);
    &__menu-container {
        width:20%;
        height: 30%;
        background-color: $primary-text;
        @include flex($justify: center);
        position: relative;
        &__border {
            @include border($top:-10px,$left:-10px,$width:98%, $height:98%, $border: 5px solid $secondary-text)
        }
        &__h1 {
            @include font($color:white);
        }
    }
}

/* subnav section */

.subnav {
    background-color: $primary-text;
    text-align: center;
    width:100vw;
    height:8vh;
    padding-left:0;
    @include flex($justify:center);
    &__ul {
        list-style-type: none;
        margin: 0 auto;
        @include flex($justify:center, $align:normal);
    }
    &__item {
        padding: 0 20px;
        border-left: 4px $secondary-text solid;
    }
    &__link {
        text-decoration: none;
        @include font($size:1.25em, $color:white);
    }

}



/* Menu Items */

.menu-item {
    background-color: $primary-color;
    padding-bottom: 40px;
    @include flex($direction:column);

    &__h2 {
        @include font($size:3.8em);
        margin-top: 0;
        padding-top: 50px;
    }
    &__h3 {
        @include font($size:2em);
    }
    &__p {
        font-style: italic;
        @include font($size:1.1em);
        text-align: center;
        width:500px;
        margin: 0 auto;
    }
    &__price {
        @include font($size:1.1em, $weight: 500, $color:$secondary-text);
        margin-bottom: 0;
        padding-bottom: 20px;
        
    }
    &--cold-drinks {
        background-color: $secondary-color;
    }
}
