body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

.navbar {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2vh 0vw 2vh 2vw;
}
.navbar__a {
  align-self: center;
}
.navbar--left {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar__h3 {
  font-size: 60px;
  font-weight: 300;
  color: #393939;
  margin: 0;
}
.navbar__list {
  list-style-type: none;
  display: flex;
  justify-content: normal;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar__list__item {
  font-size: 1.5rem;
  font-weight: 400;
  color: #393939;
  margin: auto 2vw;
  text-decoration: none;
}
.navbar__list__item__link {
  text-decoration: none;
  color: #393939;
}
.navbar__list__item__link--blue {
  color: #5BACC3;
}

/* background and grey menu box container */
.background {
  height: 75vh;
  width: 100%;
  background-image: url(../assets/images/coffee-circle.jpg);
  background-position: center;
  background-size: cover;
  background-image: url(../assets/images/coffee-circle.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.background__menu-container {
  width: 20%;
  height: 30%;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.background__menu-container__border {
  position: absolute;
  width: 98%;
  height: 98%;
  top: -10px;
  left: -10px;
  border: 5px solid #5BACC3;
}
.background__menu-container__h1 {
  font-size: 4em;
  font-weight: 300;
  color: white;
}

/* subnav section */
.subnav {
  background-color: #393939;
  text-align: center;
  width: 100vw;
  height: 8vh;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.subnav__ul {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
.subnav__item {
  padding: 0 20px;
  border-left: 4px #5BACC3 solid;
}
.subnav__link {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 300;
  color: white;
}

/* Menu Items */
.menu-item {
  background-color: #FFF0ED;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.menu-item__h2 {
  font-size: 3.8em;
  font-weight: 300;
  color: #393939;
  margin-top: 0;
  padding-top: 50px;
}
.menu-item__h3 {
  font-size: 2em;
  font-weight: 300;
  color: #393939;
}
.menu-item__p {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 300;
  color: #393939;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.menu-item__price {
  font-size: 1.1em;
  font-weight: 500;
  color: #5BACC3;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.menu-item--cold-drinks {
  background-color: #F7F7F7;
}/*# sourceMappingURL=menu.css.map */