@use '../partials/variables' as *;


@mixin flex($align: center, $justify:space-around, $direction:row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction:$direction;
    flex-wrap:$wrap;
}

@mixin bg-img($url: url(../assets/images/coldbrewbackground.png)) {
    background-image: $url;
    background-size: cover;
    background-position: center;
}


@mixin font($size:4em, $weight: 300, $color:$primary-text) {
    font-size:$size;
    font-weight:$weight;
    color: $color;
}