@use '../partials/variables' as *;


@mixin flex($align: center, $justify:space-around, $direction:row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction:$direction;
    flex-wrap:$wrap;
}

@mixin bg-img($url: url(../assets/images/coldbrewbackground.png)) {
    background-image: $url;
    background-size: cover;
    background-position: center;
}


@mixin font($size:4em, $weight: 300, $color:$primary-text) {
    font-size:$size;
    font-weight:$weight;
    color: $color;
}

@mixin button {
    background-color: $secondary-text;
    border: none;
    border-radius: 0;
    @include font($color:white, $size:1.5rem);
    padding: 15px 30px;
    position: relative;
}

@mixin border($top:-6px,$left:-5px,$width:98%, $height:98%, $border: 2px solid $primary-text) {
    position: absolute;
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    border: $border;
}