@use './variables' as *;
@use '../mixins/mixins' as*;

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin:0;
}

.navbar {
    background-color: $primary-color;
    @include flex($align:flex-end, $justify: space-between);
    padding: 2vh 0vw 2vh 2vw;
    &__a {
        align-self: center;
    }
    &--left {
        @include flex($justify:normal);
    }
    &__h3 {
        @include font($size: 60px);
        margin: 0;
    }
    &__list {
        list-style-type: none;
        @include flex($align:flex-end, $justify:normal);
        &__item {
            @include font($size:1.5rem, $weight:400);
            margin: auto 2vw;
            text-decoration: none;
            &__link {
                text-decoration: none;
                color: $primary-text;
                &--blue{
                    color: $secondary-text;
                }
            }
        }
    }
}






