@use './variables' as *;
@use '../mixins/mixins' as*;

body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin:0;
}

.navbar {
    background-color: $primary-color;
    
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    @include flex($align:flex-end, $justify: space-between);

    /* padding: 2vh 2vw; */
    padding: 2vh 0vw 2vh 2vw;

    &__a {
        align-self: center;
    }
    &--left {
        // display: flex;
        // align-items: center;
        @include flex($justify:normal);
    }
    &__h3 {
        font-size: 60px;
        font-weight: 300;
        color: $primary-text;
        margin: 0;
    }
    &__list {
        list-style-type: none;
        
        // display: flex;
        // align-items: flex-end;
        @include flex($align:flex-end, $justify:normal);
        &__item {
            font-size: 1.5rem;
            font-weight: 400;
            margin: auto 2vw;
            text-decoration: none;
            &__link {
                text-decoration: none;
                color: $primary-text;
                &--blue{
                    color: $secondary-text;
                }
            }
        }
    }
}






